body {
  font-family: Helvetica;
}

.main-container{
  display:flex;
  justify-content: space-between;
}

.card {
  background-size:cover;
  background-position: center;
  height: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  &:hover{
    box-shadow: 2px 2px 4px #AAA;
  }
  h3{
    color:#EEE;
  }
  h4{
    color: #EEE;
  }
}

.cards{
  flex: 1;
}
.map{
  flex: 0 0 450px;
  height: 100vh;
  width: 100%;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.selected{
  border: 6px red dashed;
}
